---
import LinkNavbar from "@componentsnavbar/LinkNavbar.astro";
---

<nav
  id="main-header"
  class="absolute top-0 left-0 w-full z-50 bg-white/5 shadow-md transition-all duration-300 ease-in-out"
>
  <div
    class="flex justify-between items-center p-4 bg-transparent container mx-auto"
  >
    <div class="logo">Logo</div>
    <div class="flex space-x-5 items-center">
      <LinkNavbar title="Sobre nosotros" location="#" />
      <!-- <LinkNavbar text={'Servicios'} href={"#"}> -->
      <!-- <LinkNavbar text={'Contacto'} href={"#"}> -->
      <!-- <LinkNavbar text={'Galería'} href={"#"}>    -->
      <button
        class="text-white bg-purple-600 hover:bg-purple-700 transition-all duration-300 ease-out active:scale-95 focus:ring-4 focus:ring-purple-500 font-medium rounded-md focus:outline-hidden px-2.5 py-1.5 text-sm cursor-pointer"
      >
        Agenda tu cita
      </button>
    </div>
  </div>
</nav>
