<section
  id="top-menu"
  class="fixed top-0 left-0 w-full z-50 bg-black transition-transform duration-500 ease-in-out px-2"
>
  <nav class="container mx-auto flex items-center justify-between p-2">
    <ul class="flex space-x-4 text-white">
      <li class="hover:text-slate-300 transition-all duration-100 ease-in-out font-stretch-100% text-sm"><a href="">Estilo Princesa</a></li>
      <li class="hover:text-slate-300 transition-all duration-100 ease-in-out font-stretch-100% text-sm"><a href="">Estilo Sirena</a></li>
      <li class="hover:text-slate-300 transition-all duration-100 ease-in-out font-stretch-100% text-sm"><a href="">Estilo Corto</a></li>
    </ul>
  </nav>
</section>


<script type="module">
    const menu = document.getElementById('top-menu');
    let lastScrollY = window.scrollY;

    const handleScroll = () => {
      const currentScrollY = window.scrollY;

      if (currentScrollY > lastScrollY && currentScrollY > 100) {
        // Scroll hacia abajo: ocultar
        menu?.classList.add('-translate-y-full');
      } else {
        // Scroll hacia arriba: mostrar
        menu?.classList.remove('-translate-y-full');
      }

      lastScrollY = currentScrollY;
    };

    window.addEventListener('scroll', handleScroll);
  </script>