---
import Header from "@components/Header.astro"
---

<section id="hero" class="relative">
    <Header />
    <img src="/public/landing.jpg" alt="Landing Image" class="w-full h-auto object-cover" />
    <h2 class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-4xl font-bold text-center">
        Bienvenido a nuestro sitio web
    </h2>

</section>