---
import Header from "@components/Header.astro"
import Hero from "@components/Hero.astro"
---
<main class="">
    <Header></Header>
    <Hero></Hero>
    <section class="h-56">
        sfsd
    </section>
    asdfs
</main>

