---
import LinkNavbar from "@components/navbar/LinkNavbar.astro";
---

<nav
  id="navbar"
  class="bg-transparent text-primary-900 fixed top-10 w-full z-50 transition-all duration-300 ease-in-out"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-12 items-center">
      <div class="text-xl font-bold opacity-0">Mi Sitio</div>
      <button
        class="md:hidden bg-primary-800 rounded px-3 py-2 text-white hover:text-primary-900 transition-all duration-300 ease-out active:scale-95 focus:ring-4 focus:ring-primary-500"
        id="menu-toggle"
        aria-label="Toggle menu"
      >
        ☰
      </button>
      <ul class="hidden md:flex gap-6 text-sm font-medium items-center">
        <LinkNavbar location="#" title="Inicio" />
        <LinkNavbar location="#" title="Contáctanos" />
        <LinkNavbar location="#" title="Galería" />
        <button
          class="bg-primary-800 text-white px-4 py-2 rounded hover:bg-primary-700 transition duration-300 ease-in-out active:scale-95 focus:ring-4 focus:ring-primary-300 cursor-pointer"
        >
          Agenda tu cita
        </button>
      </ul>
    </div>
  </div>

  <!-- MENÚ MÓVIL -->
  <div
    id="mobile-menu"
    class="absolute top-16 left-0 w-full max-h-0 overflow-hidden transition-all duration-300 ease-in-out z-40"
  >
    <div class="flex justify-center w-full p-3">
      <ul
        class="flex rounded shadow-lg w-[90%] flex-col gap-4 p-4 font-medium bg-white text-gray-700"
      >
        <li class="py-2 px-1 w-full">
          <a href="#" class="hover:text-primary-700 transition w-full"
            >Agenda tu cita</a
          >
        </li>
        <li class="py-2 px-1 w-full">
          <a href="#" class="hover:text-primary-700 transition w-full"
            >Horarios</a
          >
        </li>
        <li class="py-2 px-1 w-full">
          <a href="#" class="hover:text-primary-700 transition w-full"
            >Contáctanos</a
          >
        </li>
        <li class="py-2 px-1 w-full">
          <a href="#" class="hover:text-primary-700 transition w-full"
            >Galería</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<script type="module">
  const toggle = document.getElementById("menu-toggle");
  const mobileMenu = document.getElementById("mobile-menu");
  const navbar = document.getElementById("navbar");

  let open = false;

  const handleScroll = () => {
    if (window.scrollY > 100) {
      navbar?.classList.remove("top-10");
      navbar?.classList.add("top-0", "bg-white", "shadow-md");
      navbar?.classList.remove("bg-transparent");
    } else {
      navbar?.classList.remove("top-0", "bg-white", "shadow-md");
      navbar?.classList.add("top-10", "bg-transparent");
    }
  };

  window.addEventListener("scroll", handleScroll);

  toggle?.addEventListener("click", () => {
    open = !open;
    mobileMenu.style.maxHeight = open ? mobileMenu.scrollHeight + "px" : "0";
  });

  window.addEventListener("resize", () => {
    if (window.innerWidth >= 768) {
      mobileMenu.style.maxHeight = "0";
      open = false;
    }
  });
</script>
